/*propiedades footer*/

#marco-cafe{ /*fondo detras del footer*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    z-index: -9;
    margin: 0;
    padding: 0;
}

footer {
    position: relative;
    background-color: #5f4411a1;
    color: #fff;
    padding: 1% 1%;
    ul {
        list-style: none;
        li {
            margin-bottom: 1%;
            color: #fff;
            font-size: 110%;
            text-decoration: none;
            h4 {
                font-size: 130%;
                font-weight: bold;
                margin-bottom: 2%;
                p {
                    font-size: 110%;
                    line-height: 1.5;
                    margin-bottom: 2%;
}}}}}

@media (max-width:600px)
{footer h4 {font-size: 100%;
            p {font-size: 80%;
                ul li {font-size: 80%;}}}}

.copy-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #925858;
    padding: 1% 0;
    p {
        font-size: 80%;
        text-align: center;
        margin: 0;
}}

.granos-cafe{/*icono footer copyright*/
    height: 7vh;
    width: 7vh;
    animation: rotacion 1.5s infinite ease-in-out;
}

@keyframes rotacion {
    from { transform: rotateZ(0deg);}
    to { transform: rotateZ(360deg);}
}