@import "./var-mixin";

/*ScSS*/

.imagen{ /*propiedades grales cont imagen en todas las pags*/
    @include tamano ( 80vh , 95vw);
    @include bordes-sombras;
}

/*propiedades grales cont imagen gran tamaño todas las pags*/
.imagen-grde{
    @extend .imagen;
    height: 115vh;
}

.cont-img-doble{
    position: relative;
    @extend .imagen;
}

/*contenedor reajustado de forma vertical*/
@media (max-width: 600px){.cont-img-doble{
    @include tamano ( 160vh , 95vw);
}}

.cont-img-doble .img-doble1{
    position: absolute;
    top: 0;
    left: 0;
    @include tamano ( 100% , 50%);
}

/*medias para reubicar las imagenes*/
@media (max-width: 600px){.cont-img-doble .img-doble1{
    @include tamano ( 50% , 100%);
}}

.cont-img-doble .img-doble2{
    @extend .img-doble1;
    right: 0;
    left: auto;
}

/*puse top auto para que ignore el valor que di anteriormente*/
@media (max-width: 600px){.cont-img-doble .img-doble2{
    bottom: 0;
    top: auto;
    @include tamano ( 50% , 100%);
}}
