
#centrado-main{ /*centrado de la pagina en general*/
    margin: 0.5% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parrafo { /*propiedades generales para todos los parrafos*/
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 130%;
    padding: 1% 5%;
    color: black;
    background-color:  rgba(255, 255, 255);
    line-height: 40px;
    border-radius: 15px;
}
@media (max-width: 600px){.parrafo{
    font-size: 110%;
    line-height: 50px;}}

.titulo{ /*titulos*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1%;
    text-decoration: underline;
    color: #fff;
    background-color: #99A253;
}

.grano-trio{ /*icono titulos*/
    height: 7vh;
    width: 7vh;
    animation: doblado 1s infinite;
}

@keyframes doblado{
    0% {transform: skew(40deg, 0deg);}
    50% {transform: skew(-20deg, 0deg);}
    100% {transform: skew(40deg, 0deg);}
}

.subtitulo {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color:  #925858;
    text-decoration-thickness: 2px;
}

.subtitulo-suelto{ /*puse unos estilos a los enlaces y aclaraciones que estan por fuerra de parrafos*/
    font-size: 150%;
    color: white;
    font-weight: bold;
    font-style: oblique;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #99A253;
}
@media (max-width: 600px){.subtitulo-suelto{font-size: 120%;}}
