/*variables*/
@import "./var-mixin";

/*propiedades barra de navegacion*/

header{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9;
    background-color: $marron;
}

.barra-nav{
    height: fit-content;
    ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    li {
    display: inline-block;
    list-style: none;
}}}


#barra-nav2 {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    padding-bottom: 1%;
}

.iconos-nav{ /*icono nav bar*/
    @include tamano (9vh, 9vw);
    }


.boton-nav{ /*propiedades botones nav*/
    font-size: 170%;
    padding: 0.2%;
    border: 2px rgb(255, 255, 255) dotted;
    border-radius: 5px;
    margin-bottom: 1%;
    margin-top: 2%;
    a{
        color: rgb(255, 255, 255);
        font-weight: bold;
}}